<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Creating a Git repository on Github </ h2>

Next, create a Git repository. If you're not signed in to Github, sign in.

<h4> Move to the Git repository creation screen </ h4>

To move to the Git repository creation screen, click "New repository" of "+" on the upper right.

<a href="https://github.com/join"> <img src = "/ images / github / github_create_repo.png" style = "width: 100%"> </a>

<h4> Create a Git repository </ h4>

Enter the project name and press the "Create repository" button.

Check "Private" if you want to keep your project private so that no one else can see it.

<a href="https://github.com/join"> <img src = "/ images / github / github_create_repo_project.png" style = "width: 100%"> </a>

If successful, the following screen will be displayed.

<a href="https://github.com/join"> <img src = "/ images / github / github_create_repo_success.png" style = "width: 100%"> </a>

This completes the Git repository on Github.

<h3> Public key registration </ h3>

The next step you need to do is register your public key. In order to reflect the repository to Github on the SSH protocol, it is necessary to perform public key authentication.

You can also push / pull the repository with HTTPS, but you will be asked for the password every time you push, so it is recommended to register the public key and use the SSL protocol when developing.

<ul>
  <li> <a href="/blog/20200613091136.html"> Register the public key on Github </a> </ li>
</ ul>

<h3> Reflect the existing local Github repository in the repository on Github </ h3>

To reflect the existing local Github repository to the repository on Github, execute the following command described in the repository creation success screen.

Click SSH for the URL tab.

<pre>
git remote add origin git@github.com:shinshina-kimoto/fudousan_app.git
git push -u origin master
</ pre>

For information on creating a local Git repository, please refer to the following.

<ul>
  <li> <a href="/blog/20200605092020.html"> git init --Initialize Git repository </a> </ li>
</ ul>