<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> How to search the contents of Github Wiki </h2>

How to search the contents of Github Wiki.

<h3> Search in repository </h3>

Search in the search field on the upper right. Click "In this repository".

<img src = "/ images / github / github_wiki_search.png" style = "width: 100%">

<h3> Filter by Wiki </h3>

Narrow down on the Wiki page.

<img src = "/ images / github / github_wiki_search_wiki.png" style = "width: 100%">

The search results will be displayed.

<img src = "/ images / github / github_wiki_search_result.png" style = "width: 100%">