<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> How to back up the contents of Github Wiki </ h2>

The Github Wiki is managed by Git, so all you have to do is "git clone" the Wiki's Git repository. You can back up the entire page.

<img src = "/ images / github / github_wiki_backup.png" style = "width: 100%">

<pre>
git clone https://github.com/yuki-kimoto/perlzemiubuntu.wiki.git
</ pre>

<h3> Edit and push locally </ h3>

The Github Wiki is just a Git repository, so you can edit it locally and "git push" it.

This is useful when you have content that you want to modify as a whole.