<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/commands.html">
        <span itemprop = "name"> command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> git status --Check if commit is ready </h2>

Use the "git status" command to see if it's ready to commit.

<pre>
#Check if commit is ready
git status
</pre>

<h4> What is commit preparation? </H4>

In Git, instead of committing suddenly, the task of preparing for commit is done before committing. Think of it as the task of deciding which files to commit. You can commit using <a href="/blog/20201113141302.html"> git commit</a>, but before that, prepare for the commit. Officially called indexing, or staging, we'll use the term commit preparation here for the sake of clarity.

<h4> If not ready to commit </h4>

Here is an example of the output of the "git status" command when it is not ready for commit.

<pre>
#On branch master
#Changes not staged for commit:
# (use "git add <file> ..." to update what will be committed)
# (use "git checkout-<file> ..." to discard changes in working directory)
#
#modified: templates / blog / 20201109142343.html
#
#Untracked files:
# (use "git add <file> ..." to include in what will be committed)
#
# a.txt
# templates / blog / 20201110105057.html
no changes added to commit (use "git add" and / or "git commit -a")
</pre>

The newly created file is shown as not yet tracked.

The modified file will show that it has not yet been prepared (staging) for commit.

<h4> When ready to commit </h4>

Use the "<a href="/blog/20201112094521.html"> git add</a>" command to prepare for commit. Let's take a look at the state after executing "git add".

<pre>
#Preparing to commit
git add.

#Check if you are ready to commit
git status
</pre>

Let's see the output result of "git status".

<pre>
#On branch master
#Changes to be committed:
# (use "git reset HEAD <file> ..." to unstage)
#
# new file: a.txt
#modified: templates / blog / 20201109142343.html
# new file: templates / blog / 20201110105057.html
#
</pre>

You will see that your changes are ready to be committed.

After confirming the file to commit, use the "git commit" command to commit.