<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Editing the Github Wiki </ h2>

Let's edit the Wiki on Github. Click "Edit" in the upper right.

<img src = "/ images / github / github_wiki_edit_button.png" style = "width: 100%">

The method of editing and saving the contents of the Wiki is the same as that explained in <a href="/blog/20200618094326.html"> Creating a new Wiki on Github </a>.

<h3> How to write a Wiki-Basics of Markdown Notation </ h3>

I use Markdown notation when writing a Wiki, but let's remember a few ways to write it.

<h4> Heading </ h4>

The headings are below.

<pre>
#Heading 1
## Heading 2
### Heading 3
</ pre>

<h4> Code </ h4>

code.

<pre>
`` ```
use strict;
use warnings;
`` ```
</ pre>

<h4> List </ h4>

list.

<pre>
* Item 1
* Item 2
* Item 3
</ pre>

<h4> Table </ h4>

table.

<pre>
| TH | TH |
| ---- | ---- |
| TD | TD |
| TD | TD |
</ pre>

<h4> link </ h4>

Page link. If the page name does not exist in the Wiki, the link will turn red and link to the newly created page.

<pre>
[[Page Name]]
</ pre>

If you want to give a title different from the page name.

<pre>
[[Environment construction procedure manual | 20200618102400]]
</ pre>

External link.

<pre>
[[Perl Club | https://perlclub.net/]]
</ pre>