<h2> git checkout --branch change </ h2>

Use the <b> git checkout </ b> command to change the branch.

<pre>
git checkout branch name
</ pre>

The file and directory will switch to the commit content pointed to by the branch.

<h3> Why can I change the branch even if the working directory changes? </ h3>

If there is a change in the working directory, git checkout will fail if you fix any inconsistencies in the branch you're switching to.

If there are no inconsistent corrections, the branch will switch while keeping the working directory changes.

<h3> How to create a branch? </ h3>

For information on creating a branch, see the article on creating a branch.

<ul>
  <li> <a href="/blog/20201220091244.html"> git branch --List branch / Create branch </a> </ li>
</ ul>