<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Create a new Wiki on Github </h2>

I will explain how to use the Wiki on Github. The Github Wiki can be written in Markdown notation, and the product documentation can be used for co-editing.

Since Github's Wiki uses Git, history management is done automatically, and in case of emergency, it is possible to retrieve old procedures, so you can rest assured.

<h3> Go to Wiki page </h3>

Press the Wiki button on the project page to go to the Wiki page.

<img src = "/ images / github / github_wiki_button.png" style = "width: 100%">

<h3> Create a new Wiki </h3>

Click Create the first page to create a new wiki.

<img src = "/ images / github / github_wiki_new_page_button.png" style = "width: 100%">

<h3> Wiki edit screen </h3>

The screen for creating the first page will be launched. This is a new page on the Wiki.

<img src = "/ images / github / github_wiki_edit.png" style = "width: 100%">

At the top is the title. For the top page, it is "Home". Leave it as it is.

Next, I will describe the text. You can write it in Markdown, but first, let's write "Hello".

The "Edit message" below describes a summary of what you have edited. You can leave it as it is, or if it is blank, it will be entered automatically.

Let's save it with "Save Page" at the bottom right.

<h3> The first page of the Wiki is complete </h3>

The page has been created.

<img src = "/ images / github / github_wiki_new_complete.png" style = "width: 100%">

<h3> Proceed to edit the article </h3>

If you want to edit the article, go to Edit Article on the Github Wiki.

<ul>
  <li> <a href="/blog/20200617094326.html"> Editing the Github Wiki</a> </li>
</ul>

<h3> Create another page </h3>

If you want to create another page, click "New Page" in the upper right.

The Title part is empty, so enter the title. Don't put in blanks.

<pre>
BuildDevelopmentServer
</pre>

You can also enter in Japanese, but please note that in the case of Wiki, this will identify the page.

<pre>
Development server construction
</pre>

It's a little troublesome, but if you use a format like date / time, even if you rewrite the contents, it's okay.

<pre>
20200618102500
</pre>