<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/github.html">
        <span itemprop = "name"> Cooperation with Github </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Register an account on Github </ h2>

I will explain how to register an account on Github.

<h3> What is Github </ h3>

Github is a free web service that allows you to manage your Git repolitri. You can also privately manage files that you do not want to expose to third parties.

Even with the free plan, you can create private repositories and add unlimited collaborative developers.

If you sign up for an enterprise plan for $ 21 / month (January 8, 2019 information), <a href="https://help.github.com/ja/github/setting-up-and-managing-your-enterprise" -account / enforcing-security-settings-in-your-enterprise-account # managing-allowed-ip-addresses-for-organizations-in-your-enterprise-account "> IP address restrictions </a> possible am. It is possible to prevent mistakes such as accidentally making the repository public and leaking confidential information by operating on the Web.

The function of Github is mainly source code management, but since there is a bulletin board function called Issue for chasing bugs, it is possible to share information for bug fixes and product improvements.

There is also a Wiki feature for each project, and it is possible to share documents using the notation of markdown. If you just use Wiki and Issue, you don't need to know Git, so even if you don't have Git knowledge, it's worth a try.

<h3> Register an account on Github </ h3>

First, <a href="https://github.com/join"> account registration </a> to Github.

<a href="https://github.com/join"> <img src = "/ images / github / github_create_acount.png" style = "width: 100%"> </a>

When you register for an account, you will receive an email. Click the Verify email address link to complete the registration.

When the sign-in screen appears, sign in with your registered user name and password.

User authentication is complete.

<h3> Create a Git repository </ h3>

Please refer to the following articles for creating a Git repository on Github.