<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/tutorial.html">
        <span itemprop = "name"> Introduction </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> What is Git? </ H2>

Git is a source code version control system. It is a distributed version control system and is characterized by having complete repository information for both remote and local repositories.

<h3> History of Git </ h3>

Git manages a large amount of Linux source code quickly and efficiently by Linus Torvalds, the founder of <a href="https://en.linux.perlzemi.com/"> Linux </a>. A version control system created for Linux. Git is written primarily in <a href="https://en.c.perlzemi.com/"> C language </a> and partially <a href="https://perlzemi.com/". Written in "> Perl </a>.

<h3> Features of Git </ h3>

It is a feature of Git.

<h4> Distributed repository management system </ h4>

Git is a distributed repository management system where both remote and local repositories have complete repository information. In actual file management using Git, the work of committing the file to the local repository and pushing the difference to the remote repository is performed.

<h4> Fast even with a large amount of source code </ h4>

Git is fast even with a large amount of source code.

<h4> Branching is fast </ h4>

Git is quick to create branches.

<h4> Git is resistant to file loss </ h4>

Since Git is a distributed repository management system, it is resistant to loss of file information. Even if one repository has file corruption, it can be completely recovered if there is no file corruption in the other repository.

<h4> There is a web interface called Github </ h4>

A web interface for Git called Github currently provided by Microsoft is available for free.

<h4> Easy application deployment </ h4>

If your application consists of text files, deploying your application is complete with just one command.

<h4> You can always return to any past state </ h4>

You can revert the file to any past state at any time.