<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/commands.html">
        <span itemprop = "name"> command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> git pull --Transfer and merge the contents of the remote repository to the local repository </h2>

You can use the git pull command to transfer the contents of a remote repository to your local repository and merge the specified remote branch into your current branch.

The following merges into the current branch, specifying the remote repository "origin" and the remote branch "main".

<pre>
# Transfer the contents of the remote repository to the local repository and merge
git pull origin main
</pre>

The git pull command merges with fetch "<a href="/blog/20210809142256.html"> git fetch</a>" "<a href="/blog/20210819082837.html"> git merge</a>" Is a command to execute at once.