<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/tutorial.html">
        <span itemprop = "name"> Introduction </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Email address and name registration </ h2>

Register your email address and name in Git as personal identification information. This is used as personal identification information when committing.

<pre>
# Name setting
git config --global user.name "John Doe"

# Email address settings
git config --global user.email johndoe@example.com
</ pre>

This setting is saved in "~ / .gitconfig". Let's take a look at the contents with the <a href="https://en.linux.perlzemi.com/blog/20200113083613.html"> cat command </a>.

<pre>
cat ~ / .gitconfig
</ pre>

This is the output sample.

<pre>
[user]
        email = kimoto_yuki@example.com
        name = Yuki Kimoto
[core]
        editor = vi
</ pre>