<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Git </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Cooperation with Github </ h2>

I will explain how to link Git and Github.

<h4> Git repository management-source code control for system development </ h4>

<ul>
  <li> <a href="/blog/20200615091136.html"> Register an account on Github </a> </ li>
  <li> <a href="/blog/20200614091136.html"> Creating a Git repository on Github </a> </ li>
  <li> <a href="/blog/20200613091136.html"> Register the public key on Github </a> </ li>
</ ul>

<h4> Runbook management using Github Wiki </ h4>

I will explain the procedure manual management using Github Wiki.

The use of Wiki in private repositories is currently only for paid courses.

If you want to operate the runbook for free, make good use of README.md on each page of the Github repository.

<ul>
  <li> <a href="/blog/20200618094326.html"> Create a new Wiki on Github </a> </ li>
  <li> <a href="/blog/20200617094326.html"> Editing the Github Wiki </a> </ li>
  <li> <a href="/blog/20200616094326.html"> How to back up the contents of Github Wiki </a> </ li>
  <li> <a href="/blog/20200612091136.html"> How to search the contents of Github Wiki </a> </ li>
</ ul>