<h2> Introduction to Git for Perl developers </h2>

An introduction to Git for Perl developers is a course that allows Perl developers to efficiently learn the source code control tool Git. Git is a command line tool that is widely used in practice to manage the source code, HTML, and CSS of Web application programs on a Linux server.

<pre>
# Commit source code (add to file management information)
git commit -m "Fix web api bug"

#Transfer source code control information to a remote server
git push origin main

# Incorporate corrections made by other members of the team
git merge tanaka_web_api_fix
</pre>

<ul>
  <li> <a href="https://www.youtube.com/watch?v=Y-je0Oqmr9U"> Video introduction</a> </li>
</ul>

<h3> Introduction to Git </h3>

This is an introduction to Git. Learn the techniques for managing source code with Git.

<ul>
  <li> <a href="/tutorial.html"> Introduction to Git</a> </li>
</ul>

<h3> Git command </h3>

Introducing the Git command.

<ul>
  <li> <a href="/commands.html"> Git commands</a> </li>
</ul>

<h3> Cooperation with Github </h3>

I will explain how to link Git and Github.

<ul>
  <li> <a href="/github.html"> Cooperation with Github</a> </li>
</ul>

<h3> Article list </h3>

<ul>
  <li> <a href="/list.html"> Article list</a> </li>
</ul>

<h3> Git related information </h3>

Git related information. Git is highly relevant to Linux, C, and Perl. You can manage websites created with HTML and CSS with Git with Git. We also have a forum where you can ask questions about Git.

<h4> Linux </h4>

Git was originally created by Linux creator Linus to manage Linux source code. Click here if you want to get started with Linux.

<ul>
  <li> <a href="https://en.linux.perlzemi.com/"> Getting Started with Linux Server Management-Portable File Management in Perl</a> </li>
</ul>

<h4> C language </h4>

Git is written primarily in C. Click here if you want to learn C language.

<ul>
  <li> <a href="https://en.c.perlzemi.com/"> Introduction to C language for Perl XS users</a> </li>
</ul>

<h4> Perl </h4>

Git is partly written in Perl. Click here to learn Perl.

<ul>
  <li> <a href="https://perlzemi.com/"> Perl Seminar-Introduction to Perl Programming</a> </li>
</ul>

<h4> Giblog </h4>

Giblog is a useful tool for managing your website with Git. This site is actually created by Giblog and managed by Git.

<ul>
  <li> <a href="https://en.giblog.perlzemi.com/"> Giblog --Website creation tool that can be managed by Git</a> </li>
</ul>

<h4> I want to ask a question about Git </h4>

The Perl Club has a members-only Perl Club Forum where you can feel free to ask questions about Git. You can also use Twitter's reply / direct message and Youtube's comment section.

<ul>
  <li> <a href="https://perlclub.net/forum"> Perl Club Forum</a>
  <li> <a href="https://twitter.com/perlzemi"> Twitter</a>
  <li> <a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ"> Youtube</a>
</ul>